In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import random

In [2]:
def error_mae(y_hat, y_true):
  '''
  Given a set of predicted values and the true labels as lists,
  return a scalar value containing the mean absolute error between
  the two
  '''
  err = y_true - y_hat
  abs_err = np.abs(err)
  mae = np.mean(abs_err)/1000 #rescale
  return mae

In [3]:
def error_mape(y_hat, y_true):
  '''
  Given a set of predicted values and the true labels as lists,
  return a scalar value containing the mean absolute predicted
  error between the two
  mape = average of |(y_true - y_hat)/y_true|
  https://en.wikipedia.org/wiki/Mean_absolute_percentage_error
  '''
  err = y_true - y_hat
  relative_err = err/y_true
  abs_relative_err = np.abs(relative_err)
  mape = np.mean(abs_relative_err)
  return mape

In [4]:
finetuned_results_df = pd.read_csv('../data/ILI/test_cleaned_month_ILI_finetuned_predictions.csv')
zero_shot_results_df = pd.read_csv('../data/ILI/test_cleaned_month_ILI_zero_shot_predictions.csv')
avg_t1_results_df = pd.read_csv('../data/ILI/test_ili_baselines.csv')

In [5]:
finetuned_results_df.head()

  demographic  month  predicted_ili  observed_ili
0     age 0-4      1        54432.0       70214.0
1     age 0-4      2        15479.0       26458.0
2     age 0-4      3        45585.0       33978.0
3     age 0-4      4        36733.0       43238.0
4     age 0-4      5        50348.0       70628.0

In [6]:
zero_shot_results_df.head()

  demographic  month  predicted_ili  observed_ili
0     age 0-4      1        31563.0       70214.0
1     age 0-4      2        30750.0       26458.0
2     age 0-4      3        27000.0       33978.0
3     age 0-4      4        17000.0       43238.0
4     age 0-4      5        10667.0       70628.0

In [7]:
avg_t1_results_df.head()

  demographic  month  averaged_ili  last_ili  observed_ili
0     age 0-4      1       38033.7   12414.0       70214.0
1     age 0-4      2       38980.9   10057.0       26458.0
2     age 0-4      3       31940.5   13325.0       33978.0
3     age 0-4      4       19440.4   19847.0       43238.0
4     age 0-4      5       15938.8   36828.0       70628.0

In [8]:
finetuned_mae = error_mae(finetuned_results_df['predicted_ili'],
                          finetuned_results_df['observed_ili'])
print('Finetuned MAE = ', finetuned_mae)

finetuned_mape = error_mape(finetuned_results_df['predicted_ili'],
                          finetuned_results_df['observed_ili'])
print('Finetuned MAPE = ', finetuned_mape)

Finetuned MAE =  22.5897
Finetuned MAPE =  0.5161353838070679

In [9]:
zs_mae = error_mae(zero_shot_results_df['predicted_ili'],
                          zero_shot_results_df['observed_ili'])
print('Zero Shot MAE = ', zs_mae)

zs_mape = error_mape(zero_shot_results_df['predicted_ili'],
                          zero_shot_results_df['observed_ili'])
print('Zero Shot MAPE = ', zs_mape)

Zero Shot MAE =  36.59464285714286
Zero Shot MAPE =  0.7126896104204424

In [10]:
avg_mae = error_mae(avg_t1_results_df['averaged_ili'],
                          avg_t1_results_df['observed_ili'])
print('Average Val MAE = ', avg_mae)

avg_mape = error_mape(avg_t1_results_df['averaged_ili'],
                          avg_t1_results_df['observed_ili'])
print('Average Val MAPE = ', avg_mape)

Average Val MAE =  34.992425714285716
Average Val MAPE =  0.5966266810325748

In [11]:
t1_mae = error_mae(avg_t1_results_df['last_ili'],
                          avg_t1_results_df['observed_ili'])
print('T-1 MAE = ', t1_mae)

t1_mape = error_mape(avg_t1_results_df['last_ili'],
                          avg_t1_results_df['observed_ili'])
print('T-1 MAPE = ', t1_mape)

T-1 MAE =  31.070742857142857
T-1 MAPE =  0.5160859818561004